<%- include('./partials/links.ejs') %>
<%- include('./partials/navbar.ejs') %>


<h1>CREATE A NEW LIST</h1>

    <% if (locals.content) { %>
      <h3> <%= content %></h3>
      <%} else { %>
      <h3 style="display: none;"></h3>
      <% } %>

    <form action="/create/newTask" id="newList" class="form newListForm" method="POST">
        <label class="child">Name:</label>
      <input class="listName child" type="text" placeholder="Name" name="name" maxlength="20"  required/>
      <button class="buttonNewList" type="submit">Create</button>
    </form>

<%- include('./partials/footer.ejs') %>
<%- include('./partials/scripts.ejs') %>